.header {
  background-color: #121212;
  color: #fff;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  flex-wrap: wrap;
}

.logo-link {
  font-size: 1.6rem;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}

.navigation {
  display: flex;
  gap: 1.5rem;
}

.nav-link {
  color: #cccccc;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.2s ease;
}

.nav-link:hover {
  color: #353a40;
}

.cta-button {

  color: white;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
   color: #494d52;
}



@media (max-width: 768px) {
  .container {
    flex-direction: row;
    gap: 1rem;
    padding: 1rem 0;
  }

  .navigation {
    flex-direction: column;
    align-items: center;
    display: flex;
    gap: 0.8rem;
    width: 100%;
  }

  .cta {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .cta-button {
    width: 80%;
    max-width: 200px;
    text-align: center;
  }
}


