<div class="mission-container">
  <div class= "mission-text-contsiner">
  <div id="mission-text-1" [innerHTML]="missionText1">{{ missionText1 }}</div>
  <div id="mission-text-2" [innerHTML]="missionText2">{{ missionText2 }}</div>
  </div>
  <!-- Search Box with Icon -->
  <div class="search-box-container">
    <input type="text" placeholder="Search for a website" class="search-box" />
    <button class="search-icon">
      <i class="fa fa-search"></i> <!-- FontAwesome search icon -->
    </button>
  </div>
</div>
